<mat-odata-table url="https://services.odata.org/V4/OData/OData.svc/ProductDetails">
  
  <mat-odata-field name="Details" displayName="Details" type="text"></mat-odata-field>
  <mat-odata-field name="Product.Name" displayName="Name" type="text"></mat-odata-field>
  <mat-odata-field name="Product.Description" displayName="Description" type="text"></mat-odata-field>
  <mat-odata-field name="Product.ReleaseDate" displayName="Release Date" type="date">
    <mat-odata-field-option name="format" value="long"></mat-odata-field-option>    
  </mat-odata-field>
</mat-odata-table>